<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="css/loginstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login">
        <h1>Create Account</h1>
        <form action="/new-user" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" value="Create">
        </form>
    </div>
    <div>
        <% if (messages.error) { %>
            <p style="color:red">
                <%- messages.error %>
            </p>
            <% } %>
                <% if (messages.success) { %>
                    <p style="color:green">
                        <%- messages.success %>
                    </p>
                    <% } %>
    </div>
</body>

</html>